body.light-mode {
    --background-color: #F1F1F1;
    --header--background-color: #F7F9FA;
    --button-background-color: #F2F2F2;
    --button-hover-background-color: #E6E6E6;
    --text-color: #0F0F0F;
    --border-color: #EEEEEF;
}

body.dark-mode {
    --background-color: #2C2D33;
    --header--background-color: #303033;
    --button-background-color: #39393C;
    --button-hover-background-color: #303033;
    --text-color: #F0F0F0;
    --border-color: #454545;
}