.sidepopup-menu {
    position: absolute;
    width: 270px;
    height: 1000px;
    background-color: var(--background-color);
    z-index: 20;
  }

  .sideHeader_logo img {
    display: flex;
    width: 40px; /* 로고 크기를 절반으로 줄임 */
    margin-left: 71px;
    margin-top: -30px; /* 로고와 MenuIcon 사이의 간격 */
  }

  .menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 */
    z-index: 15; /* 팝업 메뉴보다 낮지만 사이드바보다 높음 */
  }
  