.quota-container {
  max-width: 600px;
  position: fixed;
  top: 100px;
  left: 30%;
  right: 30%;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color); /* 배경색 추가 */
}

.predicted-numbers-list {
  display: flex;
  flex-wrap: wrap; /* 여러 줄로 배치되도록 */
  gap: 25px; /* 숫자들 사이의 간격 */
  justify-content: center; /* 가운데 정렬 */
  padding: 10px;
}

.predicted-numbers-list span {
  display: flex; /* flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  color: var(--color);
}

/* 색상 범위 적용 */
.predicted-numbers-list span[data-range="1-10"] {
  background-color: #5D2600;
}

.predicted-numbers-list span[data-range="11-20"] {
  background-color: #003660;
}

.predicted-numbers-list span[data-range="21-30"] {
  background-color: #7F0000;
}

.predicted-numbers-list span[data-range="31-40"] {
  background-color: #1E1E1E;
}

.predicted-numbers-list span[data-range="41-45"] {
  background-color: #153D00;
}
